<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item> <img mat-card-image src="../../assets/logo.png" alt="logo"> </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><img mat-card-image src="../../assets/home.png" alt="home"> </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="Seqn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Seqn</th>
          <td mat-cell *matCellDef="let row"> {{row.Seqn}} </td>
        </ng-container>

        <ng-container matColumnDef="CDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CDate</th>
          <td mat-cell *matCellDef="let row"> {{row.CDate}} </td>
        </ng-container>

        
        <ng-container matColumnDef="MFGN">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MFGN</th>
          <td mat-cell *matCellDef="let row"> {{row.MFGN}} </td>
        </ng-container>

        <ng-container matColumnDef="WIP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WIP</th>
          <td mat-cell *matCellDef="let row"> {{row.WIP}} </td>
        </ng-container>

        <ng-container matColumnDef="PSSD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PSSD</th>
          <td mat-cell *matCellDef="let row"> {{row.PSSD}} </td>
        </ng-container>

        <ng-container matColumnDef="STAT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> STAT</th>
          <td mat-cell *matCellDef="let row"> {{row.STAT}} </td>
        </ng-container>

        <ng-container matColumnDef="PPRL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PPRL</th>
          <td mat-cell *matCellDef="let row"> {{row.PPRL}} </td>
        </ng-container>

        <ng-container matColumnDef="Modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo</th>
          <td mat-cell *matCellDef="let row"> {{row.Modelo}} </td>
        </ng-container>

        <ng-container matColumnDef="TWRC">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TWRC</th>
          <td mat-cell *matCellDef="let row"> {{row.TWRC}} </td>
        </ng-container>
        
        <ng-container matColumnDef="CTRY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CTRY</th>
          <td mat-cell *matCellDef="let row"> {{row.CTRY}} </td>
        </ng-container>

        <ng-container matColumnDef="GEO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> GEO</th>
          <td mat-cell *matCellDef="let row"> {{row.GEO}} </td>
        </ng-container>
        
        <ng-container matColumnDef="RSSD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RSSD</th>
          <td mat-cell *matCellDef="let row"> {{row.RSSD}} </td>
        </ng-container>
        
        <ng-container matColumnDef="CRAD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CRAD</th>
          <td mat-cell *matCellDef="let row"> {{row.CRAD}} </td>
        </ng-container>

        <ng-container matColumnDef="Fofin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fofin</th>
          <td mat-cell *matCellDef="let row"> {{row.Fofin}} </td>
        </ng-container>
        
        <ng-container matColumnDef="MFSCods">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MFSCods</th>
          <td mat-cell *matCellDef="let row"> {{row.MFSCods}} </td>
        </ng-container>
        
        <ng-container matColumnDef="CTBFE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CTBFE</th>
          <td mat-cell *matCellDef="let row"> {{row.CTBFE}} </td>
        </ng-container>

        <ng-container matColumnDef="CTBTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CTBTotal</th>
          <td mat-cell *matCellDef="let row"> {{row.CTBTotal}} </td>
        </ng-container>
        
        <ng-container matColumnDef="rev">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> rev</th>
          <td mat-cell *matCellDef="let row"> {{row.rev}} </td>
        </ng-container>
        
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> customer</th>
          <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
        </ng-container>
        <ng-container matColumnDef="Allocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Allocation</th>
          <td mat-cell *matCellDef="let row"> {{row.Allocation}} </td>
        </ng-container>
        <ng-container matColumnDef="TimeStamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp</th>
          <td mat-cell *matCellDef="let row"> {{row.TimeStamp}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
